body {
    margin: 0;
}

.container-folder {
    border: 1px solid red;
    height: 100vh;
}

.container {
    position: relative;
    height:25%;
    width: 100%;
    color:beige
}

.container .panel {
    position: absolute;
    padding: 3px 5px;
    background-color: black;
    bottom:0;
}